.btn:hover {
  cursor: pointer;
  background-color: #5eff5b;
  border-radius: 10px;
}

.btn {
  vertical-align: top;
}

#example_btn {
  vertical-align: middle !important;
}

.comment td{
  padding-top: 4px;
  padding-bottom: 4px;
}

.blank {
  cursor: pointer;
  display: inline-block;
  width: 75px !important;
}

.suggestion_header {
  font-weight: 700;
  line-height: 2;
  border-top: 1px solid gray;
  margin-top:5px;
  font-size: 15px;
}

.first_header {
  border: none !important;
}

.suggestion_box {
  border: 1px solid #004ea3 !important;
  height: 200px;
  overflow-y: scroll;
  background-color: rgba(74,74,74,0.03) !important;
  position: relative;
}

#sugg_insts {
  font-size: 13px !important;
  margin-top: 2px;
}

.search_text {
  width: 100% !important;
  border: 1px solid gray !important;
  padding: 3px;
}

.see_suggestions {
  font-size: 14px !important;
  color: darkred !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.suggestion_container {
  position: relative;
}

.comment_view {
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: white;
  border: 1px solid #004ea3 !important;
  border-top: none !important;
}

.comment_view_text {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}